<html>
   <head>
      <title>Brevet Control Times</title>
   </head>
   <body>
      <h1>Choose times to list</h1>
      <form role="form">
          <label>Do you want to display the list of times in CSV or JSON?</label>
          <select name="format" id="format">
              <option value="json">JSON</option>
              <option value="csv">CSV</option>
          </select>
          <br><br>
          <label>How many times do you want in the list?</label>
          <input name="k" type="number" id="k"></input>
          <br><br>
          <button type="submit" formaction="/listAll">All Times</button>
          <button type="submit" formaction="/listOpenOnly">Open Times</button>
          <button type="submit" formaction="/listCloseOnly">Close Times</button>
      </form>
   </body>
</html>